   <!-- begin::Body -->
   <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
     <div class="m-grid__item m-grid__item--fluid m-wrapper">
       <div class="m-content">
         <!-- ================================================================= -->

         <div class="row">
           <div class="col-lg-6">
             <div class="m-portlet">
               <div class="m-portlet__head">
                 <div class="m-portlet__head-caption">
                   <div class="m-portlet__head-title">
                     <h3 class="m-portlet__head-text">
                       Products
                     </h3>
                   </div>
                 </div>

                 <app-search></app-search>



               </div>

               <app-categories-products></app-categories-products>




             </div>
           </div>



           <div class="col-lg-6">
             <app-cart></app-cart>
           </div>

         </div>

         <!-- ================================================================= -->

       </div>
     </div>
   </div>
   <!-- end:: Body -->
